body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* TYPOGRAPHY */
*{
  font-size: 1.1rem;
}

@media(max-width:480px) {
  *{
    font-size: 1.2rem;

  }
}



.hero{
    background-image: url("../../../public/images/herobg.jpg");
    background-size:cover;
}

.hero-title{
    position:absolute;
    top: 300px;
    left: 70px;
    color: #fff;
    width: 25%;
}

.hero-img{
    width:50%;
    margin: 0 auto;
    text-align: center;
}

.products{
    background-image: url("../../../public/images/productsbg.jpg");
    background-size: cover;
    text-align: center;
    padding:8rem 2rem;
}

.items{
    display: inline-block;
    margin: 1rem;
}

.items img{
    width: 80%;

}

.items label{
    font-size:15px;
}
.product-btn{
    background-color: #03a757;
    border:none;
    color: #fff;
    padding:0.3rem 2rem;
    cursor: pointer;
    /* text-align: center;s */
  /* text-decoration: none; */
  /* display: inline-block; */
}

.product-btn:hover{
         /* Dark green */
        transition: 0.5s background-color, color 0.5s;
        background-color: #98fcb0;
        color:#01361c;
}

.about-us {
    text-align: center;
    background-color: #f1fafe;
    padding: 2rem;
}

.about-us p {
    text-align: center;
}

.about-us-btn{
    text-align: center;
    background-color: #f05423;
    border:none;
    color: #fff;
    padding:0.3rem 2rem;
    cursor: pointer;
}

.about-us-btn:hover{
    transition: 0.5s background-color, color 0.5s;
    background-color: #ecc7bb;
    color:#000;
}

.about-us-bg{
    /* background-image: url("/public/images/aboutusbg.jpg"); */
    background-size: cover;
    overflow: hidden;
    background-color: #f1fafe;
    text-align: center;
 }

.container3{
 width: 100%;
}

 .recipe{
   width: 50%;
   float: left;
   overflow: hidden;
 }

 .stories{
     width: 50%;
     float: left;
     overflow: hidden;
 }

 .recipe img, .stories img{
    width: 100%;
 }

@media (max-width: 480px) {
  /* styles for screens with max-width of 780px */
  
  .hero {
    flex-direction: column;
    /* background-image: none; */
  }
  
  .hero-title {
    text-align: center;
    display: none;
  }

  .hero-img-2{
    margin-top: 1rem;
    text-align: center;
    max-width: 100%;
  }
  
  .products {
    /* flex-direction: column;
    align-items: center; */
    padding: 1rem 1rem;
    background-image: none;
  }
  
  .items {
    margin: 0.5rem;
    border: 1px solid #bfbaba;
    padding: 0.5rem;
  }
  
  .about-us {
    text-align: center;
  }

  .about-us-btn{
    padding: 1rem 2rem;
    margin: 1rem;
    font-weight: bold;

  }
  
  .about-us-bg {
    display: none;
  }
  
  .container3 {
    flex-direction: column;
    align-items: center;
  }
  
  .recipe,
  .stories {
    margin-bottom: 20px;
  }

  .container3{
    display: flex;
  }

  .recipe{
    width: auto;
  }

  .stories{
    width: auto;
  }
}
