.footer{
    display: flex;
    /* align-items: center; */
    padding: 1rem 3rem;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-items: center;
}
/* 
.footer-logo{
    width: 25%;
    cursor: pointer;
} */

.footer-menu{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-list1{
    display: flex;
    flex-direction: column;
}

.footer-list1 ul{
    display: flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
}

.footer-list2{
    display: flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
}

.footer-menu ul{
    column-gap: 5px;
    margin: 0;
    padding: 0;
}
.footer-menu ul li{
    list-style: none;
}

.footer-menu ul li a{
    text-decoration: none;
    color:#03a757;
    font-size: 10px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.social-icon{
    color:#03a757;
    cursor: pointer;
}

@media(max-width:480px){
    .footer{
        flex-direction: column;
    }

    .footer-menu{
        align-self: center;
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    .footer-list1 ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-list2 ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-menu ul li a{
        font-size: 0.8rem;
    }
}